.blogs-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.blogs-hero {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  min-height: 75vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://source.unsplash.com/600x600/?blog');
}
.blogs-fixed-header {
  width: 100%;
  display: flex;
  z-index: 200;
  position: fixed;
  box-shadow: 0px 0px 20px 0px rgba(17, 18, 38, 0.15);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-secondary-300);
}
.blogs-text {
  top: 0px;
  left: 276px;
  color: var(--dl-color-gray-white);
  right: auto;
  bottom: 0px;
  margin: auto;
  z-index: 100;
  text-align: center;
}
.blogs-bg {
  top: auto;
  flex: 0 0 auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  display: flex;
  opacity: 0.4;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-black);
}
.blogs-posts {
  display: flex;
  max-width: 1320px;
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.blogs-n-f-t {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}

.blogs-image {
  width: 33%;
  object-fit: cover;
  border-radius: 0px;
  border-top-left-radius: var(--dl-radius-radius-radius75);
  border-bottom-left-radius: var(--dl-radius-radius-radius75);
}
.blogs-container01 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.blogs-text01 {
  color: var(--dl-color-secondary-300);
  font-weight: 600;
}
.blogs-container02 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blogs-text02 {
  color: var(--dl-color-secondary-500);
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.blogs-navlink {
  color: var(--dl-color-secondary-500);
  text-decoration: none;
}
.blogs-text04 {
  color: #22acbb;
  text-decoration: none;
}
.blogs-container03 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.blogs-container04 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blogs-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.blogs-text05 {
  color: var(--dl-color-secondary-500);
}
.blogs-singularity {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}

.blogs-image1 {
  width: 33%;
  object-fit: cover;
  border-radius: 0px;
  border-top-left-radius: var(--dl-radius-radius-radius75);
  border-bottom-left-radius: var(--dl-radius-radius-radius75);
}
.blogs-container06 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.blogs-text06 {
  color: var(--dl-color-secondary-300);
  font-weight: 600;
}
.blogs-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blogs-text07 {
  color: var(--dl-color-secondary-500);
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.blogs-navlink1 {
  color: var(--dl-color-secondary-500);
  text-decoration: none;
}
.blogs-text08 {
  color: #22acbb;
  text-decoration: none;
}
.blogs-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.blogs-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blogs-container10 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.blogs-text09 {
  color: var(--dl-color-secondary-500);
}
.blogs-new-website {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}

.blogs-image2 {
  width: 33%;
  object-fit: cover;
  border-radius: 0px;
  border-top-left-radius: var(--dl-radius-radius-radius75);
  border-bottom-left-radius: var(--dl-radius-radius-radius75);
}
.blogs-container11 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.blogs-text12 {
  color: var(--dl-color-secondary-300);
  font-weight: 600;
}
.blogs-container12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blogs-text13 {
  color: var(--dl-color-secondary-500);
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.blogs-container13 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.blogs-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blogs-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.blogs-text14 {
  color: var(--dl-color-secondary-500);
}
@media(max-width: 991px) {
  .blogs-text {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .blogs-n-f-t {
    flex-direction: column;
  }
  .blogs-image {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .blogs-singularity {
    flex-direction: column;
  }
  .blogs-image1 {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .blogs-new-website {
    flex-direction: column;
  }
  .blogs-image2 {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
}
